<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Que gato é você?</title>
</head>
<body>
    <header>
        <img src="../static/gatos/gatovazio.png" alt="logo" style="height: 70px;">
        <h1>Que gato é você?</h1>
    </header>
    <main>
        <div class="container">
            <div class="form">
                <form action="/" method="post">
                    <label>Informe seu nome</label>
                    <input type="text" name="nome" />
                    <button type="submit">Enviar</button>
                </form>
            </div>
            <div class="gato">
                {% if not url_imagem %}
                    <img src="../static/gatos/gatonada.jpg" alt="..." />
                {% else %}
                    <img src="{{url_imagem}}" />
                    <p>{{ nome }}</p>
                {% endif %}
                {% if erro %}
                    <p>{{ erro }}</p>
                {% endif %}
            </div>
        </div>
    </main>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/paulo-henrique-santos">Paulo Henrique dos Santos</a></p>
    </footer>
</body>
</html>