<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Que Gato é Você?</title>
</head>
<body>
    <header>
        
    </header>
        <main>
            <div class="container">
                <div class="form">
                    <form action="/" method="post">
                        <label>Informe seu nome</label>
                        <input type="text" name="nome">
                        <button type="submit">Enviar</button>
                    </form>
                </div>
                <div class="gato">
                    {% if not url_imagem %}
                    <img src="../static/gatos/gatovazio.png" alt="Gato" />
                    
                    {% else %}
                        <img src="{{ url_imagem }}" alt="">
                    <p>{{ nome }}</p>
                    {% endif %}
                    {% if erro %}
                    {{ erro }}
                    {% endif %}
                </div>
            </div>
        </main>
    <footer>
        <p>Desenvolvido por <a href="https://github.com/paulo-henrique-santos" target="_blank">Paulo Henrique dos Santos</a></p>
    </footer>
</body>
</html>